@{
    ViewData["Title"] = "Agrega tu idea innovadora";
}


<div>
    <h2>Agrega tu idea:</h2>
    <input type="text" name="title" placeholder="Título de tu idea" /> <br />

    <textarea placeholder="Escribe aquí tu idea"></textarea> <br />
</div>
